@model List<MemberPenaltyHistoryVM>

    <h2>Penalty History </h2>
    <hr />

<table class="table table-hover table-bordered text-center shadow-sm">
    <thead class="thead-dark">
        <tr>

            <th>Book Title</th>
            <th>Borrow Date</th>
            <th>Return Date</th>
            <th>Overdue Days</th>
            <th>Penalty Amount</th>
           

        </tr>
    </thead>
   <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.BookTitle</td>                 
                <td>@(record.BorrowDate.HasValue ? record.BorrowDate.Value.ToString("dd/MM/yyyy") : "N/A")</td>
                <td>@(record.ReturnDate.HasValue ? record.ReturnDate.Value.ToString("dd/MM/yyyy") : "Not Returned")</td>
                <td>@record.PenaltyDays Days</td>
                <td>@(record.PValue.HasValue ? record.PValue.Value.ToString("F2") : "0.00") LE</td>


            </tr>
        }
    </tbody> 
</table>