@model IEnumerable<LMSProject.Data.Models.Models.Book>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Books</h2>
        </div>
    </div>
<hr />
    <div class="row">
        <div class="col-3">
            <a class="btn btn-dark text-end m-2" asp-controller="Books" asp-action="Add">Add New Book</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <td style="display:none"></td>
                        <td>#</td>
                        <th style="width: 30%;">Title</th> 
                        <th style="width: 30%;">Author</th> 
                        <th style="width: 15%;">Genre</th>
                        <th>Price</th>
                        <th>Penality%</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var serial = 1;
                    }
                    @foreach (var book in Model)
                    {
                        <tr>
                            <td style="display:none">@book.Id</td>
                            <td>@serial</td>
                            <td>@book.Title</td>
                            <td>@book.Authors?.Name</td>
                            <td>@book.Genre?.Name</td> 
                            
                            <td>@book.BookPrice.ToString("F2")</td>
                            <td>@book.PenalityPercentage %</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-dark">Details</a>
                            </td>
                            <td>
                                <button onclick="showDynamicToast('Delete Confirmation',
                                                'Are you sure you want to delete this item?', 'danger',
                                                '@Url.Action("Delete", "Author", new { id = @book.Id })')"
                                        class="btn btn-danger">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        serial++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

